@using Root.Web.Mvc.Extensions
@using Root.Web.Mvc.Url

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />-->
    <link rel="shortcut icon" type="image/ico" href="/Images/site.ico" />
    <meta name="author" content="Roman Kolotygin" />
    <meta name="keywords" content="music, piano lessons, vocal lessons, voice lessons, music exams, vancouver, burnaby, olga, kolotygin, rootposition" />
    <meta name="description" content="Olga's piano and vocal lessons" />
    <!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
    <script type="text/javascript"></script>
    <!-- enable HTML5 elements in IE7+8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @{
        Url.Resources().Styles.AddFirst("~/CSS/root-position.css");
        if (Request.Browser.Browser.Trim().Equals("IE", StringComparison.InvariantCultureIgnoreCase) && Request.Browser.MajorVersion != 7)
        {
            Url.Resources().Styles.Add("~/Css/ie-not7.css");
        }
    }
    @Url.Resources().Styles.Render()
</head>

<body>
@{var formId = Html.ViewContext.RouteData.GetCurrentUrl().AsId();}
@using (Html.BeginForm(null, null, FormMethod.Get, new { name = formId, id = formId }))
{
    <div id="wrapper">
        <header role="banner">
            <div id="logo">
                <a href="http://rootposition.com"><img src=@Url.Content("~/Images/logo-rootposition.gif") /></a>
            </div>
            <nav role="navigation">
                @{ Html.RenderAction("Menu", "Menu", Html.ViewContext.RouteData.GetCurrentUrl()); }
            </nav>
            <h1>@ViewBag.Title</h1>
        </header>
        @RenderSection("Body")
        <footer role="siteinfo">
            <p id="contact">Olga Kolotygin (<abbr title="Bachelor of Music">BMus</abbr>) <b>|</b> <a href="callto&#58;+16047831967">(604)727-6259</a> <b>|</b> <a href="mailto:olga@rootpositon.com">olga@rootposition.com</a></p>
            <p id="copyright">Copyright &copy; 2016 <a href="http://www.rootposition.com/" title="root-position home page">Rootposition</a></p>
        </footer>
    </div>
    @Url.Resources().Scripts.Render()
    @RenderSection("Scripts")
}
</body>
</html>
